@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255 237 213);
  overflow-x: hidden;
  max-width: 100%;
}

.score-s {
  background-color: rgb(14 165 233);
}

.score-m {
  background-color: rgb(249 115 22);
}

.score-l {
  background-color: rgb(239 68 68);
}